<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css    " />
  </head>

  <body>
    {{>header}}
    <h1>Use this site to find weather </h1>
     {{>footer}}

     <form action="">
       <input type="text" placeholder="vadodara">
       <button>Search</button>
     </form>

     <p id="msg-1"></p>
     <p id="msg-2"></p>

     <script src="/javascript/script.js"></script>
  </body>

</html>